USE [master]
GO
/****** Object:  Database [dieta]    Script Date: 15/7/2019 03:59:28 ******/
CREATE DATABASE [dieta]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dieta', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\dieta.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dieta_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\dieta_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dieta].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dieta]
GO
USE [dieta]
GO
/****** Object:  Table [dbo].[progreso]    Script Date: 15/7/2019 03:59:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[progreso](
	[iduser] [int] NOT NULL,
	[progreso_peso] [int] NOT NULL,
	[progreso_imc] [float] NOT NULL,
	[fecha] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 15/7/2019 03:59:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[iduser] [int] IDENTITY(1,1) NOT NULL,
	[correo] [nvarchar](50) NOT NULL,
	[contrasena] [nvarchar](50) NOT NULL,
	[nombreusuario] [nvarchar](50) NOT NULL,
	[peso] [int] NOT NULL,
	[altura] [int] NOT NULL,
	[sexo] [int] NOT NULL,
	[frecuencia] [int] NOT NULL,
	[tmb] [float] NOT NULL,
	[imc] [float] NOT NULL,
	[edad] [int] NOT NULL,
	[kxp] [int] NOT NULL,
	[corporal] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[iduser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[progreso]  WITH CHECK ADD  CONSTRAINT [FK_progreso_usuarios] FOREIGN KEY([iduser])
REFERENCES [dbo].[usuarios] ([iduser])
GO
ALTER TABLE [dbo].[progreso] CHECK CONSTRAINT [FK_progreso_usuarios]
GO
USE [master]
GO
