@model P5Parcial.Models.dieta

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ingresar</title>
</head>
<body>

    <img src="~/imagenes/background.jpg" />     
    <div> 
        <h1>Bienvenido</h1>
    </div>
</body>
</html>
