@model P5Parcial.Models.usuario

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ingresar</title>
</head>
<body>
    <div> 
        <img src="~/imagenes/background.jpg" class="bg" />
        <div style="position:relative">
            <p>Hola</p>
        </div>
    </div>
</body>
</html>
