@model P5Parcial.Models.usuario

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrar</title>
    <link href="~/Bootstrap/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/Bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Bootstrap/mycss.css" rel="stylesheet" />
</head>
<body>
    <div class="cuerpo">
        <div class="row">
            <img class="col-md-6" src="~/imagenes/background1.jpg" />
            <div style="border-style:ridge;border-color:grey;border-radius:5px;padding-top:100px" class="col-md-6">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary()
                    <table align="center">
                        <tr>
                            <td>Usuario:</td>
                            <td class="margenCol">@Html.TextBoxFor(x => x.nombreusuario, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td>Correo:         </td>
                            <td class="margenCol">@Html.TextBoxFor(x => x.correo, new { @class = "form-control" })</td>
                        </tr>
                        <tr>
                            <td>Contraseña:     </td>
                            <td class="margenCol">@Html.TextBoxFor(x => x.contrasena, new { @class = "form-control" })</td>
                        </tr>
                    </table>
                    <div style="text-align:center;padding-top:20px">
                        <input class="btn btn-primary" type="submit" value="Registrarse" />
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
